

<IfModule mod_headers.c>

  Header add  X-Content-Type-Options  "nosniff"
  Header add  Content-Security-Policy  "1"
  Header add  X-XSS-Protection  "1"
    
</IfModule>
  


<Files *>
 Options -Indexes 
</Files>


